@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
body{
    background-color: #f3eae3;
}
#mainContainer{
    margin-top: 9%;
    margin-left: 32%;
    width: 30em;
    overflow: hidden;
    font-family: Montserrat;
    background-color: white;
    border-radius: 9px;
}
#plants{
    width: 50%;
    height: 100%;
    float: left;
}
#mainContainer h2{
    font-family: Fraunces;
}
#text{
    /* border: 5px, solid; */
    margin-left: 260px;
    padding-top: 20px;
    height: 90%;
}
button{
    text-align: center;
    align-items: center;
    font-family: Montserrat;
    background-color: #3d8168;
    border-radius: 9px;
    color: white;
    border: 0px;
    height: 3em;
    width: 90%;
}   
button:hover{
    background-color: #1a4031;
    cursor: pointer;
}
p{
    color: #75757f;
    font-size: 12px;
}
